body{
	margin: 0px;
	font-size: 1.2em;
	background-color: #98AFC7;
}

h3 {
	padding-top: 20px;
	margin-top:0px;
}

header {
	background-color:black;
	height:50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

nav {
	height:50px;
	margin-bottom:0px; 
}

.nav_item{
	vertical-align:middle;
	margin:50px;
	color:white;
	font-size: 1.2em;
	margin-bottom:0px;

}

#shares_container{
	background-color:white;
	width:600px; 
	margin:0 auto;
}

#shares {	
	margin-left:15px;
}

.image {
	width:300px; 
	height:300px;
}

.commenter {
	font-weight: bold;
}

.feed_sharer, .shared_with, .share_comment, .share_source, .timestamp {
	font-size: .9em;
}

.share_title{
	font-weight: bold;
}

a:visited {
	
}

a {
  text-decoration:none;
  color:black;
}

.nav_item {
	margin-right:25px;
	display:inline;
}

.share {
	margin-bottom:25px;
	background-color: white;
}

.share_item {
	margin:.5px;
}

.feed_sharer {

}

.timestamp{
	float:right;
}

.share_comment {
	float:right;
}

#participants, .comments {
	margin-top: 50px;
}

#comment_input_label {
	vertical-align: top;
}

.comment_submit {
	left:150px;
}
.participant {
	margin-top: 0px;
}

#comment_input_text {
	display: inherit;
}

